*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

header{
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

.logo{
    width: 40%;
}

.logo img{
    display: block;
    max-width: 300px;
    height: auto;
}

nav{
    width: 30%;
}

nav ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.hero{
    width: 100%;
    min-height: 200px;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1{
    margin-bottom: 10px;
}

.hero form input{
    margin: 10px 0px;
}

.hero form button{
    display: block;
    margin: auto;
}


/* Feature lis section */
.feature-list-wapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 375px;
}
.feature-list {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-top: 20px;
}
.premium{
    width: 80%;
}

.video{
    text-align: center;
}

.add-to-cart{
    width: 100%;
    display: flex;
    padding: 80px 130px;
    justify-content: space-between;
}

footer{
    width: 100%;
    padding: 40px 130px;
}

footer ul{
    display: flex;
    justify-content: flex-end;
}

li{
    padding: 0px 10px;
}








